body{
	background-color: #fdfde3
}
p{
	color: #831919;
	font-size: 20px;
	text-align: center;
}
h1{
	text-align: center;
	font-size: 50px
}
h2{
	text-align: center;
	font-size: 30px
}
h3{
	color: #c98000
}
li {
    color: #c98000;
}
li span {
    color: black;
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }